<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.richie.mybatis.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.richie.mybatis.entity.User">
        <result column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="age" jdbcType="INTEGER" property="age"/>
    </resultMap>
    <insert id="insert" parameterType="com.richie.mybatis.entity.User" useGeneratedKeys="true" keyProperty="id">
    insert into User (name, age
      )
    values (#{name,jdbcType=VARCHAR}, #{age,jdbcType=INTEGER}
      )
  </insert>
    <select id="selectByPrimaryKey" resultType="com.richie.mybatis.entity.User">
    select id, name, age from User where id = #{id,jdbcType=INTEGER};
  </select>
</mapper>